.orderInfo {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.buyNow {
    width: 350px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    /*background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);*/
    background: linear-gradient(90deg, #00B5E6 0%, #84E589 100%);
    color: #ffffff;
    font-weight: bold;
    font-size: 17px;
    user-select: none;
    /*border: 1px solid #000000;*/
}

.buyNow:disabled {
    background: #808080;
}

.cardSlider {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    height: 50vw;
    max-height: 400px;
    min-height: 300px;
    margin-bottom: 30px;
    position: relative;
}

.rightArrowCont, .leftArrowCont {
    position: absolute;
    width: 15%;
    max-width: 100px;
    min-width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    cursor: pointer;
    z-index: 1;
}

.rightArrowCont {
    right: 0%;
}

.rightArrowCont img, .leftArrowCont img {
    width: 30%;
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
}

.cardCont {
    position: absolute;
    left: 0px;
    top: 0px;
    width: fit-content;
    max-width: 100vw;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.card {
    cursor: pointer;
    user-select: none;
}

.card:not(:last-child) {
    margin-right: 10px;
}