.promoPicWrapper {
    max-height: calc(100vh - 80px);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.promoPicWrapper > .promoPic {
    width: 100%;
    filter: brightness(50%);
}

.promoPicWrapper > .promoText {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.promoPicWrapper > .promoText h1 {
    color: #ffffff;
    font-size: clamp(22px, 5vw, 50px);
}

.getStarted {
    background-color: #ffffff;
    color: #000000;
    font-size: clamp(15px, 2vw, 25px);
    cursor: pointer;
    border: none;
    border-radius: 20px;
    padding: 8px;
    padding-right: 15px;
    padding-left: 15px;
    align-self: center;
}

.competitorCont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f0f0f0;
    width: 100%;
}

.competitorTitle {
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.competitorList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px;
    margin-bottom: 30px;
    gap: 20px;
}

.competitorList > img {
    width: 150px;
}

.proofCont {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: #ffffff;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.proof, .proofText {
    width: 40%;
}

.proof {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.proofText p {
    margin: 0px;
    margin-bottom: 30px;
    width: 100%;
}

.proofText h1 {
    margin: 0px;
    margin-bottom: 15px;
}

.privateWarning {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.privateWarning p {
    margin: 0px;
    font-size: 15px;
}

.privateWarning img {
    width: 17px;
    margin-right: 5px;
}

@media (max-width: 819px) {
    
    .proof, .proofText {
        width: 90%;
    }

    .proofCont {
        flex-direction: column;
    }

}